In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'姓名':['a','b','c'],'测试一':[30,30,90],'测试二':[40,30,90]})

In [3]:
df1['平时'] = (df1.测试一 + df1.测试二)/2

In [5]:
df1

  姓名  测试一  测试二    平时
0  a   30   40  35.0
1  b   30   30  30.0
2  c   90   90  90.0